---
import { MessageCircleCode, Pickaxe } from "@lucide/astro";
---

<footer class="footer footer-horizontal footer-center bg-base-200 py-10">
  <aside>
    <MessageCircleCode class="inline-block size-20" />
    <p class="max-w-xl m-auto text-lg">
      Want to chat? <a
        href="mailto:matt.black7@gmail.com"
        target="_blank"
        class="link link-hover text-primary"
        >Email me</a
      > and I'll respond as soon as possible.
    </p>
    <p class="text-base-content/60">
      Copyright © {new Date().getFullYear()}
    </p>
  </aside>
</footer>
