---
import { MessageCircleCode } from "@lucide/astro";
---

<footer
  class="footer footer-horizontal footer-center bg-base-200 text-primary-content py-10"
>
  <aside>
    <MessageCircleCode class="inline-block size-20" />
    <p class="max-w-xl m-auto text-lg">
      Want to chat? shoot me a dm <a
        href="https://x.com/leowg"
        target="_blank"
        class="link link-hover text-primary"
        >with a direct question on X (twitter)</a
      > and I'll respond whenever I can.
    </p>
    <p class="text-neutral-content">
      Copyright © {new Date().getFullYear()} - All right reserved
    </p>
  </aside>
</footer>
